<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'myapp:blog' %}" method="post"> <!--请求方法post-->
        {% csrf_token %}
        <label>
            <input type="text" name="title" placeholder="请输入标题">
        </label>
        <br>
        <label>
            <input type="textarea" name="content" placeholder="文章内容">
        </label>
        <br>
        <input type="submit" value="提交">
    </form>
</body>

</html>